@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: "#A8C7F5"
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: #242131;
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}
